<div class="home-component">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark-light  shadow-sm">
    <div class="container">
      <a class="navbar-brand text-pink font-weight-light">Garage-Sale</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-pink font-weight-light">About Us</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link text-pink font-weight-light">Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-pink font-weight-light login button"
              (click)="childModal.showChildModal('login')">Login </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-pink font-weight-light button "
              (click)="childModal.showChildModal('signup')">Sign
              Up</a>
          </li>
        </ul>
      </div>
      <!-- Dropdown -->
      <div class="btn-group" dropdown placement="bottom right">
        <button id="button-alignment" dropdownToggle type="button"
          class="btn text-secondary toggle" aria-controls="dropdown-alignment">
          <fa-icon [icon]="faBars" size="lg" class="text-pink"></fa-icon>
        </button>
        <ul id="dropdown-alignment" *dropdownMenu
          class="dropdown-menu dropdown-menu-right bg-dark-light py-0" role="menu"
          aria-labelledby="button-alignment">
          <li role="menuitem">
            <a class="dropdown-item text-pink font-weight-light py-2"
              (click)="childModal.showChildModal('login')">Login</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item text-pink font-weight-light py-2"
              (click)="childModal.showChildModal('signup')">Sign
              Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Content -->
  <section class="p-0 landing-top pb-5">
    <img src="http://localhost:8000/bubble.png" class="bubble d-none d-md-block"
      alt="">
    <!--Image on the upper right-->

    <div class="container h-100 px-3 px-md-5">
      <div class="row align-items-center h-75">
        <div class=" col-12 col-md-6 header-panel p-3">
          <h1 class="text-pink text-left">
            Welcome to the new way to sell used stuff.
          </h1>
          <h5 class="text-pink text-left">Garage Sale is the one and only tool
            you need to sell your used products.</h5>
          <div class="text-center p-3">
            <button class="btn start-selling-btn mt-5"
              (click)="childModal.showChildModal('signup')">Start Selling Right
              Now</button>
          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- Section-two-background -->
  <section class=" px-0 section-2">
    <div class="container first-container">
      <!-- Panel steps -->
      <div class="row justify-content-center px-3 px-lg-5">
        <div class="card panel-section-two p-3 p-lg-5 py-5"
          style="margin-top:-15%">
          <h2 class="text-pink mb-5 ml-md-5 text-center text-md-left">Make your sell in
            3 simple steps.</h2>
          <div class="row px-3 px-md-5 align-items-center d-flex">
            <div class="col-12 col-md-6 mb-3">
              <div
                class="row justify-content-center justify-content-md-start">
                <div class="col-12 text-center text-md-left">
                  <div
                    class="row align-items-center mb-3 mb-md-5 justify-content-center justify-content-lg-start">
                    <div class="col-auto bg-pink bullet-points pt-2 pl-3 mb-2">
                      <h2 class="mb-0 text-center "> 1</h2>
                    </div>
                    <div class="col-12 col-md-9 col-lg-10 ml-0 ml-xl-3">
                      <p class="mb-0 text-pink font-weight-light text-center text-md-left">Select
                        your location.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 text-center text-md-left">
                  <div
                    class="row align-items-center mb-3 mb-md-5 justify-content-center justify-content-lg-start">
                    <div class="col-auto bg-pink bullet-points pt-2 pl-3 mb-2">
                      <h2 class="mb-0 text-center "> 2</h2>
                    </div>
                    <div
                      class="col-12 col-md-9 col-lg-10 ml-0 ml-xl-3">
                      <p class="mb-0 text-pink font-weight-light text-center text-md-left">Fill in
                        the form with your product information.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 text-center text-md-left">
                  <div
                    class="row align-items-center mb-3 mb-md-5 justify-content-center justify-content-lg-start">
                    <div class="col-auto bg-pink bullet-points pt-2 pl-3 mb-2">
                      <h2 class="mb-0 text-center "> 3</h2>
                    </div>
                    <div
                      class="col-12 col-md-9 col-lg-10 align-self-center ml-0 ml-xl-3">
                      <p class="mb-0 text-pink font-weight-light text-center text-md-left">And
                        sell it right away.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 circle-back">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="auto"
                viewBox="0 0 838 838" preserveAspectRatio="xMidYMid meet" [ngClass]="circleBeat">
                <g id="Ellipse_5" data-name="Ellipse 5" fill="#00ffd2"
                  stroke="#707070" stroke-width="1" opacity="0.209">
                  <circle cx="419" cy="419" r="419" stroke="none" />
                  <circle cx="419" cy="419" r="418.5" fill="none" />
                </g>
              </svg>
              <!-- <div class="mr-auto ml-auto text-center"> -->
                <img src="http://localhost:8000/imac-group.png" class="imac-image" (mouseover)="makeCircleBeat()" 
                (mouseout)="stopCircleBeating()">
              <!-- </div> -->
            </div>
          </div>

        </div>
      </div>
      <!-- End of Panel steps -->
    </div>
    <div class="container second-container justify-content-center pb-5">
      <div class="row reviews mt-3 mt-md-5">
        <div class="col-12 flex-direction-row flex-shrink">
          <h2
            class="mx-3 mt-5 mt-md-3 ml-md-5 mb-3 mb-md-5 text-center text-md-left">
            Some of our customers reviews.</h2>
        </div>
        <div class=" col-12 col-md-4 text-center mb-3">
          <img src="http://localhost:8000/avatar1.png"
            class="rounded-circle mb-4 shadow">
          <h5 class="font-weight-bolder">Sarah Ferguson</h5>
          <p>This app is amazing,</p>
          <p>I recommend it 100%.</p>
          <img src="http://localhost:8000/stars.svg">
        </div>
        <div class=" col-12 col-md-4 text-center mb-3">
          <img src="http://localhost:8000/avatar2.png"
            class="rounded-circle mb-4 shadow">
          <h5 class="font-weight-bolder">Martin Muller</h5>
          <p>Very easy to use, sell</p>
          <p>A couple of things just</p>
          <p>In few days.</p>
          <img src="http://localhost:8000/stars.svg">
        </div>
        <div class=" col-12 col-md-4 text-center mb-5">
          <img src="http://localhost:8000/avatar3.png"
            class="rounded-circle mb-4 shadow">
          <h5 class="font-weight-bolder">Elisa Riccardi</h5>
          <p>Garage-Sale,</p>
          <p>Love at first sight.</p>
          <img src="http://localhost:8000/stars.svg">
        </div>

      </div>
    </div>
    <!-- Middle bars -->
    <!-- <div class="middle-bars p-0">
<img src="http://localhost:8000/middle-bars.png" style="height:100%;">
</div> -->
  </section>

  <!-- Section three -->
  <section class="section-three p-0">
    <div class="container">
      <div class="row justify-content-around align-items-center footer-widget">
        <div class="col-1 d-none d-md-block"></div>
        <div class="col-12 col-md-3 text-center text-md-left mb-3">
          <p class="text-secondary font-weight-bold">Project</p>
          <p class="text-secondary font-weight-light">Latest Release</p>
          <p class="text-secondary font-weight-light">Updates</p>
          <p class="text-secondary font-weight-light">API</p>
          <p class="text-secondary font-weight-light">Github Project</p>
        </div>
        <div class="col-12 col-md-3 text-center text-md-left mb-3">
          <p class="text-secondary font-weight-bold">Support</p>
          <p class="text-secondary font-weight-light">Latest Release</p>
          <p class="text-secondary font-weight-light">Updates</p>
          <p class="text-secondary font-weight-light">API</p>
          <p class="text-secondary font-weight-light">Github Project</p>
        </div>
        <div class="col-12 col-md-3 text-center text-md-left">
          <p class="text-secondary font-weight-bold">Company</p>
          <p class="text-secondary font-weight-light">Latest Release</p>
          <p class="text-secondary font-weight-light">Updates</p>
          <p class="text-secondary font-weight-light">API</p>
          <p class="text-secondary font-weight-light">Github Project</p>
        </div>
      </div>
    </div>
    <!-- Footer widgets Wave -->
    <svg xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500"
      preserveAspectRatio="xMidYMin slice" id="wave">
      <defs>
        <filter id="Union_2" x="0" y="0" width="1920" height="567.247"
          filterUnits="userSpaceOnUse">
          <feOffset dy="-5" input="SourceAlpha" />
          <feGaussianBlur stdDeviation="4" result="blur" />
          <feFlood flood-opacity="0.22" />
          <feComposite operator="in" in2="blur" />
          <feComposite in="SourceGraphic" />
        </filter>
      </defs>
      <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Union_2)">
        <path id="Union_2-2" data-name="Union 2"
          d="M0,543.247V9.112S122.364,66.181,452.176,66.756c164.888.287,313.694-16.545,457.062-33.376C1052.639,16.544,1190.6-.293,1333.776,0c267.619.554,547.108,71.923,582.472,81.243H1920v462Z"
          transform="translate(0 12)" />
      </g>
    </svg>

  </section>
  <!-- Footer -->
  <footer>
    <div class="text-center p-3">
      <p class="text-secondary mb-0"> Garage-Sale | ©All Rights Reserved, 2019.
      </p>
    </div>
  </footer>

  <app-auth #childModal></app-auth>
</div>