.dashboard-component {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
  nav {
    z-index: 100;
    border-width: 0 0 2px 0;
    border-color: #00ffd2;
    border-style: solid;
    .search-input {
      border-radius: 30px !important;
      box-shadow: none;
      background: #fff;
      font-weight: 300;
    }
    .dropdown-menu {
      border: none;
      margin-top: 10px;
      border-radius: 0;
      li {
        &:hover {
          background: rgba(255, 255, 255, 0.3);
        }
        .dropdown-item {
          width: auto;
          &:hover {
            background: transparent;
          }
        }
      }
    }
  }
  .dashboard-wrapper {
    height: 95vh;
    #map-area {
      overflow-y: auto;
      max-height:100%;

    }
    #product-area {
      height: 100%;
      overflow-y: auto !important;
    }
  }

  @media (max-width: 767px) {
    .greeting {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .greeting-mobile {
      display: none;
    }
  }

}
